name: Prettier

on: push

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/*.{ts,tsx,js,jsx,json}
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Run Prettier
        if: env.GIT_DIFF
        run: yarn fix:prettier
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "format: Apply Prettier Change"
